.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  position: relative;
}
/* .profile::before,
.profile::after {
  content: "";
  width: 30rem;
  height: 30rem;
  border-radius: 25rem;
  background-color: #ffffff;
  position: absolute;
  z-index: -1;
  filter: blur(230px);
}
.profile::after {
  top: 0rem;
  left: -2rem;
}
.profile::before {
  bototm: 2rem;
  right: 7rem;
} */

.profile img {
  width: 22rem;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 7rem;
}
.profile h1 {
  text-align: center;
  width: 70%;
  font-size: 4.8rem;
  font-family: "Inter";
}
.profile h1 span {
  background: linear-gradient(270deg, #df8908 10%, #b41f55 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.profile p {
  width: 50%;
  text-align: center;
  font-size: 2rem;
  line-height: 2;
}

.profile-action {
  width: 44rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.4rem;
  font-size: 2rem;
  margin-bottom: 4.8rem;
}
.profile-connect {
  padding: 1.5rem 2.4rem;
  border-radius: 4.8rem;
  background: linear-gradient(264deg, #df8908 -5.09%, #b41f55 106.28%);
  cursor: pointer;
  border: 2px solid #e76f51;
}
.profile-connect:hover {
  border: 2px solid #fff;
}
.profile-resume {
  padding: 1.5rem 4.5rem;
  border-radius: 4.8rem;
  border: 2px solid #fff;
  cursor: pointer;
}
.profile-resume:hover {
  border-color: #e76f51;
}

/*----- Responsive -----*/
@media (max-width: 768px) {
  .profile img {
    width: 17rem;
    margin-top: 7rem;
  }
  .profile h1 {
    margin-top: 5rem;
    width: 90%;
    font-size: 4rem;
  }
  .profile p {
    width: 60%;
    font-size: 1.8rem;
    line-height: 1.7;
    margin: 1.5rem 0;
  }

  .profile-action {
    width: 40rem;
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }
  .profile-connect {
    padding: 1.2rem 1.7rem;
    border-radius: 4rem;
  }
  .profile-resume {
    padding: 1.2rem 3.9rem;
    border-radius: 4rem;
  }
}
