.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8rem;
  margin: 8rem;
}

.contact-title {
  position: relative;
}
.contact-title h1 {
  text-align: center;
  font-size: 5rem;
  padding: 0 3rem;
}
.contact-title img {
  position: absolute;
  bottom: 0;
  right: 35rem;
  z-index: -1;
}

.contact-section {
  display: flex;
  justify-content: space-between;
}

.contact-left {
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.contact-left h2 {
  font-size: 6rem;
  background: linear-gradient(270deg, #df8908 10%, #b41f55 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-left p {
  max-width: 55rem;
  color: #d7d7d7;
  font-size: 2rem;
  line-height: 35px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #d7d7d7;
  font-size: 2.2rem;
}
.contact-detail {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.contact-detail img {
  width: 35px;
}

.contact-right {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 3rem;
}
.contact-right label {
  color: #d7d7d7;
  font-size: 2.2rem;
  font-weight: 500;
}
.contact-right input {
  border: none;
  width: 45rem;
  height: 7.7rem;
  padding-left: 2rem;
  border-radius: 4px;
  background-color: #32323c;
  color: #a0a0a0;
  font-size: 2rem;
}
.contact-right textarea {
  resize: vertical;
  width: 45rem;
  height: 10rem;
  border: none;
  padding: 2.5rem;
  border-radius: 4px;
  background-color: #32323c;
  color: #a0a0a0;
  font-size: 2rem;
}

.contact-submit {
  cursor: pointer;
  border: none;
  color: #fff;
  border-radius: 1.7rem;
  background: linear-gradient(267deg, #da7c25 0.36%, #b92e31 102%);
  font-size: 2.2rem;
  padding: 1.7rem 3.5rem;
  margin-bottom: 5rem;
  transition: 0.3s;
}
.contact-submit:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

/*----- Responsive -----*/
@media (max-width: 768px) {
  .contact {
    gap: 6rem;
    margin: 4rem 7rem;
    align-items: start;
  }

  .contact-section {
    flex-direction: column;
    gap: 5rem;
  }

  .contact-title h1 {
    font-size: 4rem;
    padding: 0;
  }
  .contact-title img {
    width: 10rem;
    right: -2rem;
  }

  .contact-left h2 {
    font-size: 4.5rem;
  }
  .contact-left p {
    font-size: 1.8rem;
  }

  .contact-details {
    gap: 1.7rem;
  }
  .contact-detail img {
    width: 25px;
  }

  .contact-right {
    margin-top: 2rem;
  }
  .contact-right label {
    font-size: 2rem;
  }
  .contact-right input {
    width: 100%;
    font-size: 2rem;
    height: 6rem;
  }
  .contact-right textarea {
    width: 100%;
    font-size: 2rem;
  }

  .contact-submit {
    font-size: 2rem;
    padding: 1.2rem 3rem;
    border-radius: 1.2rem;
  }
}
