.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 1.7rem 3rem;
  backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo span {
  font-size: 2.8rem;
  font-weight: 600;
  background: linear-gradient(270deg, #df8908 10%, #b41f55 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo img {
  width: 3.8rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5.5rem;
  font-size: 2rem;
}

.nav-connect {
  padding: 1.4rem 2rem;
  border-radius: 4.8rem;
  background: linear-gradient(267deg, #da7c25 0.36%, #b92e31 102%);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.nav-menu li img {
  display: flex;
  margin: auto;
}
.anchor-link {
  text-decoration: none;
  color: #fff;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

/*----- Responsive -----*/
@media (max-width: 768px) {
  .navbar {
    margin: 2rem 5rem;
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 3rem;
  }

  .nav-mob-close {
    cursor: pointer;
    display: block;
    position: relative;
    top: 2rem;
    left: 29rem;
    width: 30px;
  }

  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    z-index: 2;
    width: 35rem;
    height: 100%;
    right: -35rem;
    gap: 4rem;
    background-color: #2d6a4f;
    transition: right 0.5s;
  }
  .nav-menu li {
    font-size: 4rem;
    padding-left: 12rem;
    flex-direction: row;
    gap: 3rem;
  }
}
