.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 5rem;
}
.navbar a {
  font-size: 1.7rem;
  font-weight: 600;
  background: linear-gradient(270deg, #df8908 10%, #b41f55 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3.5rem;
  font-size: 1.2rem;
}
.nav-connect {
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  background: linear-gradient(267deg, #da7c25 0.36%, #b92e31 102%);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover {
  transform: scale(1.05);
}
