.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 1.7rem 4.5rem;
  backdrop-filter: blur(30px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo span {
  font-size: 2.8rem;
  font-weight: 600;
  background: linear-gradient(270deg, #df8908 10%, #b41f55 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo img {
  width: 3.8rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 5.5rem;
  font-size: 2rem;
}

.nav-connect {
  padding: 1.4rem 2rem;
  border-radius: 4.8rem;
  background: linear-gradient(267deg, #da7c25 0.36%, #b92e31 102%);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.5s;
}
.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu li {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}
.nav-menu li::before {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 2rem;
  background: linear-gradient(267deg, #da7c25 0.36%, #b92e31 102%);
  bottom: -2rem;
  border-radius: 0.5rem;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;
  opacity: 0;
}
.nav-menu li:hover::before {
  width: 100%;
  opacity: 1;
  transform: translateX(0);
}
.nav-menu li img {
  position: absolute;
  width: 6rem;
  top: 0.2rem;
  left: 0.5rem;
  z-index: -1;
}
.anchor-link {
  text-decoration: none;
  color: #fff;
}

.nav-mob-close {
  display: none;
}

.nav-mob-open {
  display: none;
}

/*----- Responsive -----*/
@media (max-width: 768px) {
  .navbar {
    /* margin: 2rem 5rem; */
  }

  .nav-connect {
    display: none;
  }

  .nav-mob-open {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 2.8rem;
  }

  .nav-mob-close {
    cursor: pointer;
    display: block;
    position: relative;
    top: 2rem;
    left: 22rem;
    width: 30px;
  }

  .nav-menu {
    height: 100vh;
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    z-index: 2;
    width: 27rem;
    right: -35rem;
    gap: 4rem;
    background-color: #001524;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.4);
    opacity: 0.9;
    transition: right 0.5s;
  }
  .nav-menu li {
    font-size: 2.5rem;
    padding-left: 10rem;
    flex-direction: row;
    gap: 3rem;
  }
  .nav-menu li img {
    width: 7rem;
    top: 0.2rem;
    left: 15rem;
  }
  .nav-menu li::before {
    width: 0;
    height: 0;
  }
}
